<strong>Olá, {{ provider }} </strong>
<p>Houve um cancelamento de horário, confira os detalhes a baixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} </p> <br />
<strong>Data/Hora: </strong> {{ date }} <br />
<br />

<small>
  O horário está novamente diponível para agendamentos!
</small>
</p>
